fastapi>=0.110
uvicorn[standard]>=0.23
aiokafka>=0.8
SQLAlchemy>=2.0
PyMySQL>=1.1
python-dotenv>=1.0
numpy>=1.26
pyedflib>=0.1.37
pydantic>=2.0,<3
python-multipart>=0.0
tensorflow>=2.0
tensorflow_hub>=0.16
pydub>=0.25
PyJWT>=2.8
pytest>=8.0
pytest-asyncio>=0.23
httpx>=0.25
protobuf>=4.25.0
grpcio-tools>=1.64.0
scipy>=1.11
mne>=1.5.0
confluent-kafka>=2.3.0